html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 10px;
    line-height: 10px;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem; 
    line-height: 1rem;
}
a {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 5rem;
    color: $color-links;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    color: $color-main-text;
    line-height: 5rem;
}
h2 {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.2rem;
    color: $color-green;
}
h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 5rem;
    color: $color-orange;
}
h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 4rem;
    color: $color-main-text;
}
p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.5rem; 
    line-height: 3rem; 
    color: $color-paragraph;
    white-space: pre-line;
}
strong {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: $color-paragraph;
}
span { 
    color: $color-orange;
}
em {
    color: $color-green;
    font-style: normal;
}
li {
    color: $color-links;
}
button {
    cursor: pointer;
}

@media (max-width: $tablet-width) {
     
}

@media (max-width: $mobile-big-width) {

}