@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  outline: none;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input {
  outline: none;
}

.about__content > h2, .logo__name, .btn__contact-us, button, h2, a {
  font-family: "Inika", serif;
}

.prices__content__title, .prices__bar__title, .description p, .footer-data li:nth-of-type(2), .footer__wrapper * a, .btn__city__bar > span, .btn__learn-more, strong, p, h3, h1 {
  font-family: "Inter", sans-serif;
}

.header__navigation a {
  transition: all 400ms ease-out;
  transform: scale(1);
}

.btn__animation_2:hover, .btn__animation_2, .btn__animation:hover, .btn__animation {
  transition: all 1s ease-out;
  transform: scale(1);
}

.header__navigation a:hover {
  transition: all 2s ease-out;
  transform: scale(1);
}

html {
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:after, *:before {
  box-sizing: inherit;
  font-style: normal;
}

body {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  color: #010201;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  color: #717171;
}

h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  color: #499A18;
}

h3 {
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 700;
  color: #E06733;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: #636060;
}

strong {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #636060;
}

span {
  color: #E06733;
}

em {
  color: #499A18;
}

li {
  color: #010201;
}
li:hover {
  text-decoration: underline;
}

button {
  font-size: normal;
  line-height: 2.6rem;
  font-weight: 400;
  cursor: pointer;
}

.btn__learn-more {
  width: 158px;
  height: 44px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.btn__project {
  min-width: 161px;
  height: 50px;
  margin: 0px 19px;
  font-size: 2rem;
  color: #E06733;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: center;
  align-items: center;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.prices__list button {
  margin: 7px 22px 7px 22px;
  padding-left: 10px;
}

.btn__item {
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: none;
}

.btn__item-basics :nth-child(1) {
  margin-right: 10px;
  padding-top: 8px;
}

.btn__item-basics :nth-child(2) {
  padding: 16px 10px 10px 20px;
}

.btn__item-standard :nth-child(1) {
  width: 140px;
  margin-right: -40px;
  margin-left: 2px;
  padding-right: 50px;
}

.btn__item-standard :nth-child(2) {
  padding: 10px 12px 10px 0px;
}

.btn__item-pro :nth-child(1) {
  margin-left: -3px;
  padding-bottom: 5px;
}

.btn__item-pro :nth-child(2) {
  padding: 10px 5px 16px 10px;
}

.btn__contact-us {
  width: 162px;
  height: 50px;
  margin-top: 39px;
  font-size: 2rem;
  line-height: none;
  font-weight: 700;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
}

.btn__city__bar {
  width: 450px;
  height: 50px;
  margin-top: 85px;
  background: #D6E7D2;
  display: inline-flex;
  flex-direction: none;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.btn__city__bar > span {
  height: 40px;
  padding: 5px 0px 5px 17px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #717171;
}
.btn__city__bar img {
  padding-top: 16px;
  padding-right: 27px;
}

.btn__animation:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

.btn__animation_2:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .services__buttons {
    max-width: max-content;
    width: auto;
    height: auto;
  }
  .services__buttons button {
    width: 10vw;
    height: 4vh;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
  }
  .btn__project {
    min-width: 26vw;
    height: 50px;
    margin: 0px 10px;
    font-size: 2rem;
    color: #E06733;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    border: 1px solid #E06733;
    border-radius: 5px;
  }
  .btn__city__bar {
    width: auto;
    height: auto;
    margin: 20px 0 0 0;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: flex-end;
  }
  .btn__city__bar span {
    padding-right: 50vw;
    height: auto;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: center;
  }
  .btn__city__bar img {
    padding: 0 35px 18px 0;
  }
  .btn__accordion__city {
    margin-right: 0;
  }
}
@media (max-width: 414px) {
  .btn__project {
    min-width: 26vw;
    height: 50px;
    margin: 0px 5px;
    font-size: 2rem;
    color: #E06733;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    border: 1px solid #E06733;
    border-radius: 5px;
  }
  .btn__city__bar {
    width: auto;
    height: auto;
    margin: 20px 20px 0 20px;
    padding: 0 10px 0 10px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .btn__city__bar span {
    padding-right: 50vw;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: center;
  }
  .btn__city__bar img {
    padding: 0 20px 17px 0;
  }
  .btn__accordion__city {
    margin-right: 0px;
  }
}
.main {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 414px) {
  .main {
    max-width: 414px;
    margin: 0 auto;
  }
}
.wrapper {
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    margin: auto;
  }
}
@media (max-width: 414px) {
  .wrapper {
    max-width: 414px;
    margin: auto;
  }
}
.header {
  background: #EDF2EC;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
  padding: 42px 103px 56px 111px;
  background-color: #EDF2EC;
}

.logo__box {
  padding-top: 8px;
  margin: 0;
}

.logo__name {
  margin-left: -4px;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  color: #010201;
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 42px 25px 56px 25px;
  }
}
@media (max-width: 414px) {
  .header__wrapper {
    max-width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 42px 16px 42px 16px;
    background: #EDF2EC;
  }
  .logo__box {
    padding: 10px 0 0 0;
    text-align: left;
  }
}
.footer {
  background: #FFFFFF;
  margin: 0 auto;
}

.footer__wrapper {
  margin: auto;
  padding: 40px 109px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}
.footer__wrapper li {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: center;
  align-items: none;
}
.footer__wrapper * a {
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  color: #010201;
}

.footer-data {
  width: auto;
  height: 50px;
  padding-right: 20px;
}
.footer-data li:nth-of-type(2) {
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  margin: 0 18px;
}
.footer-data li:nth-of-type(2):hover {
  text-decoration: none;
}

.rsschool li {
  padding-left: 15px;
}

.social-list li {
  padding: 5px 3px 0 20px;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .footer__wrapper {
    padding: 25px 0px 0px 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: center;
  }
  .footer__wrapper li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: none;
    justify-content: none;
    align-items: none;
  }
  .footer-data {
    width: 190px;
  }
  .rsschool li {
    padding: 8px 0;
    margin-left: -3px;
    margin-top: -6px;
  }
  .social-list li {
    padding: 15px 10px;
  }
  .instagram__svg__item a {
    padding-bottom: 0;
    margin-right: 7px;
  }
  .facebook__svg__item a {
    padding-bottom: 0;
    margin-right: 4px;
  }
  .twitter__svg__item a {
    padding-bottom: 3px;
  }
  .pinterest__svg__item a {
    padding-bottom: 1px;
  }
}
.strips {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 414px) {
  /* меню бургер в 4 полосы с анимацией, превращения в крестик */
  .strips {
    width: 40px;
    height: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: none;
    position: fixed;
    top: 36px;
    right: 25px;
    z-index: 11;
  }
  .strips .strips.__active .strip:nth-child(1) {
    width: 33px;
    transform: rotate(-45deg);
  }
  .strips .strips.__active .strip:nth-child(2) {
    opacity: 0;
  }
  .strips .strips.__active .strip:nth-child(3) {
    opacity: 0;
  }
  .strips .strips.__active .strip:nth-child(4) {
    width: 33px;
    transform: rotate(45deg);
  }
  .hamburger {
    margin: 0;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: none;
    align-items: flex-start;
    list-style: none;
  }
  .hamburger li {
    font-size: 2.4rem;
    line-height: 5rem;
    font-weight: 700;
    box-shadow: 1px 1px rgb(0, 0, 0);
  }
  .hamburger a {
    transition: all 400ms ease-out;
    transform: scale(1);
  }
  .hamburger a:hover {
    transition: all 2s ease-out;
    transform: scale(1);
    color: #000000;
  }
  .navigation {
    width: 100%;
    height: 50%;
    padding: 100px 0px 0 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #499A18;
    opacity: 70%;
    text-align: center;
    overflow-y: auto;
    z-index: 10;
  }
  .navigation.__active {
    display: block;
    animation: burgerAnimationOpen 0.75s;
  }
  .navigation.close {
    display: block;
    animation: burgerAnimationClose 0.8s;
  }
  .strip {
    width: 100%;
    height: 2px;
    background-color: #717171;
    transition: transform 0.4s ease;
    z-index: 10;
  }
  .strip.strip:nth-child(1) {
    transform-origin: top right;
  }
  .strip.strip:nth-child(2) {
    transform-origin: top left;
  }
  .strip.strip:nth-child(4) {
    transform-origin: bottom right;
  }
}
@keyframes burgerAnimationOpen {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes burgerAnimationClose {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.header__navigation {
  margin: 0;
  padding: 16px 0 0 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}
.header__navigation a {
  text-decoration: none;
}
.header__navigation a:hover {
  font-size: 100%;
  background-color: #E3E1D5;
  color: #010201;
  border-radius: 5px;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navigation li:not(:last-child) {
  margin-right: 32px;
}

.list__item {
  margin: 0;
  padding: 0 7.4px;
}

.menu-link {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #010201;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu-link:hover {
  color: #E06733;
}

@media (max-width: 768px) {
  .header__navigation {
    margin: 0;
    padding: 16px 0 0 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: none;
  }
  .header__navigation a {
    text-decoration: none;
  }
  .header__navigation a:hover {
    font-size: 100%;
    background-color: #E3E1D5;
    color: #010201;
    border-radius: 5px;
  }
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .navigation li:not(:last-child) {
    margin: 0;
  }
  .list__item {
    margin: 0;
    padding: 0 7.4px;
  }
  .menu-link {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    color: #010201;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  .menu-link:hover {
    color: #E06733;
  }
}
@media (max-width: 414px) {
  .header__navigation {
    width: auto;
    height: auto;
    padding: 36px 10px 36px 10px;
    display: none;
    flex-direction: none;
    flex-wrap: none;
    align-content: none;
    justify-content: none;
    align-items: flex-start;
  }
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    align-items: center;
  }
  .logo__box {
    width: 77px;
    height: auto;
    margin-top: -2px;
    padding-left: 0px;
  }
  .logo__img {
    margin: 0 0 0 0;
  }
  .logo__name {
    margin-left: -5px;
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 400;
    color: #000000;
  }
}
.welcome {
  background: #EDF2EC;
  height: 532px;
  padding: 0px 5% 0 5%;
  width: auto;
}

.welcome__wrapper {
  margin: 0 auto;
  padding: 63px 23px 40px 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}

.welcome__img {
  width: 448.8px;
  height: 407.36px;
  margin: -10px 0px 25px 0px;
  padding: 0 0 0 75px;
}

.welcome__section {
  min-width: 549px;
  max-height: 100%;
  width: 47.5%;
  height: 375px;
  padding: 36px 109px 0px 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}
.welcome__section p {
  line-height: 3.5rem;
}
.welcome__section button {
  margin-top: 3px;
}

.welcome__title {
  min-width: inherit;
  height: auto;
}

@media (max-width: 768px) {
  .welcome {
    background: #EDF2EC;
    height: 532px;
    padding: 63px 5% 0 5%;
    width: auto;
  }
  .welcome__wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: none;
    max-width: 668px;
  }
  .welcome__img {
    width: 280px;
    height: auto;
    margin: 0px 0px 0px;
    padding: 0 0 0 0px;
  }
  .welcome__img img {
    max-width: 280px;
  }
  .welcome__section {
    min-width: 350px;
    max-height: 100%;
    width: 47.5%;
    height: 375px;
    padding: 36px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: space-between;
    align-items: none;
  }
  .welcome__section p {
    line-height: 3.5rem;
  }
  .welcome__section button {
    margin-top: 3px;
  }
  .welcome__wrapper {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 0 0 0px;
  }
  .welcome__img {
    width: 280px;
    height: auto;
    margin-right: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .welcome__img img {
    max-width: 280px;
  }
  .welcome__section {
    width: 346px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
    text-align: left;
  }
  .welcome__section > h1 {
    min-width: 341px;
    height: auto;
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 700;
  }
}
@media (max-width: 414px) {
  .welcome__img {
    display: none;
    margin: 0;
    padding: 0px;
  }
}
.about {
  max-width: 1440px;
  height: 666px;
  background: #FFFFFF;
  margin: auto;
  padding: 93px 109px 94px 109px;
}

.about__wrapper {
  width: auto;
  height: 479px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  width: 605px;
  height: 344px;
}
.about__content > h2 {
  width: 463px;
  height: 102px;
  color: #E06733;
}
.about__content p {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .about {
    height: auto;
    padding: 50px 20px;
  }
  .about__wrapper {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .about__content {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
  .about__content > h2 {
    width: 100%;
    height: auto;
    font-size: 25px;
    line-height: 35px;
    margin: 0 0 15px;
  }
  .about__content p {
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin: 0;
  }
}
@media (max-width: 414px) {
  .about__img {
    width: 150px;
    margin-right: 48px;
    margin-bottom: 25px;
  }
}
.service {
  width: auto;
  height: 1300px;
  background: #EDF2EC;
}

.service__wrapper {
  display: block;
}

.service__content {
  height: 94px;
  padding: 70px 20px 20px 108px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: flex-start;
  align-items: flex-start;
}

.service__title {
  width: 429px;
  height: 94px;
  margin-top: -30px;
  line-height: 5.2rem;
}

.services__buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}

.services {
  height: 955px;
  padding: 130px 109px 0px 109px;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 55px 116px;
}

.service__item {
  width: 330px;
  height: 450px;
}
.service__item img {
  min-width: 329px;
  max-height: 350px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.description {
  width: 327px;
  height: 100px;
  margin: -3px 0 0 1px;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
.description > h3 {
  line-height: 4.6rem;
}
.description p {
  color: #717171;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: none;
}

@media (max-width: 1335px) {
  .services {
    height: max-content;
    padding: 130px 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(2, 328px);
    align-items: center;
    justify-content: center;
    gap: 25px 100px;
  }
}
@media (max-width: 768px) {
  /* Медиа-запрос для экранов с разрешением до 768px */
  .service {
    height: auto;
  }
  .service__content {
    height: auto;
    padding: 50px 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service__title {
    width: 100%;
    height: auto;
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .services {
    height: auto;
    padding: 30px 10px 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 281px);
    gap: 20px 40px;
  }
  .service__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }
}
@media (max-width: 605px) {
  .services {
    height: auto;
    padding: 30px 10px 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 281px);
    gap: 40px;
  }
}
@media (max-width: 414px) {
  .services {
    height: auto;
    padding: 30px 10px 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 281px);
    gap: 15px;
  }
}
.prices {
  width: auto;
  height: auto;
  padding: 40px 109px 115px 109px;
  background: #FFFFFF;
  margin: auto;
}

.prices__wrapper {
  width: auto;
  height: auto;
  margin: -1px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-content: none;
  justify-content: space-between;
  align-items: none;
}

.prices__bar {
  max-width: 332px;
  height: 391px;
  margin-right: 438px;
}

.prices__bar__title {
  padding-bottom: 60px;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
}

.prices__list {
  width: 332px;
  height: 281px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: none;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.price__info {
  max-width: 452px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-content: none;
  justify-content: flex-start;
  align-items: flex-end;
}

.prices__content {
  width: 452px;
  height: 191.01px;
  text-align: end;
}

.prices__content__title {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: #000000;
}

.leafs {
  width: 152px;
  height: 175px;
  padding-top: 33px;
}

@media screen and (max-width: 1335px) {
  .prices {
    height: auto;
    padding: 40px 0 115px;
  }
  .prices__wrapper {
    flex-direction: row;
    align-items: center;
    margin: 250px 0 0px 0;
    padding: 50px 25px 0 25px;
  }
  .prices__bar {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .prices__list {
    max-width: 600px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
  }
  .prices__item {
    width: 300px;
    margin: 0 20px 40px;
  }
  .price__info {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
/* Медиа-запрос для экранов с разрешением до 768px */
@media (max-width: 768px) {
  .prices {
    width: auto;
    height: auto;
    padding: 30px 20px;
  }
  .prices__wrapper {
    width: 100%;
    height: auto;
    margin: 0px 0 0px 0;
    padding: 20px 25px 0 25px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .prices__bar {
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .prices__bar__title {
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  .prices__list {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    border: none;
    border-radius: 0;
  }
  .price__info {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .prices__content {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .prices__content__title {
    font-size: 25px;
    line-height: 35px;
    margin: 0;
    padding-bottom: 20px;
  }
  .leafs {
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin: 0;
  }
  .tiles + * {
    clear: both;
  }
}
.contact-us {
  width: auto;
  background: #EDF2EC;
}

.contact-us__wrapper {
  height: 550px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: none;
  justify-content: none;
  align-items: none;
}

.contact-us__box-city {
  padding-top: 60px;
  padding-right: 109px;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  align-content: none;
  justify-content: none;
  align-items: none;
}

.contact-us__title {
  min-width: 195px;
  height: 51px;
  padding-right: 68px;
}

.contact-us__woman {
  margin: 0 auto;
  padding: 0px;
}

.contact-us__img {
  width: 98%;
  height: 100%;
  margin: auto;
  padding-bottom: 1px;
}

/* Медиа-запрос для экранов с разрешением до 768px */
@media (max-width: 768px) {
  .contact-us {
    width: auto;
    background: #EDF2EC;
    padding: 30px 20px;
  }
  .contact-us__wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-us__box-city {
    padding-top: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-us__title {
    min-width: auto;
    height: auto;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .contact-us__woman {
    margin: 20px auto;
    padding: 0px;
    max-width: 100%;
  }
  .contact-us__img {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding-bottom: 0;
  }
}
.btn__accordion__item {
  border-radius: 50%;
  cursor: pointer;
}
.btn__accordion__item:nth-last-child(1) {
  margin: 0;
}

/* button changed background color */
.change__button {
  position: absolute;
  width: 65px;
  right: 160px;
  top: 50px;
  color: darkred;
  border-color: #636060;
  border-radius: 10px;
  border-style: double;
}

.change__button {
  display: none;
}

@media (max-width: 1900px) {
  .change__button {
    position: absolute;
    right: 10px;
  }
}
@media (max-width: 1614px) {
  .change__button {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
