$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$color-light: #EDF2EC;
$color-description: #E3E1D5;
$color-border: #E3E1D5;
$color-city-box:#D6E7D2;
$color-main-text: #717171;
$color-paragraph: #636060;
$color-links: #010201;
$color-city-box-active: #C1E698;
$color-hovered: #E06733;
$color-accordion-block: #D6E7D2;
$color-accordion-header-noopen: #D9D9D9;
$color-accordion-header-open: #AEA1A1;
$color-accordion-arrow-closes: #717171;
$color-accordion-arrow-open: #FFFFFF;

$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #E06733;
$color-green: #499A18;

$colors: (red, blue, green);
// Обращение к первому, второму, третьему элементу списка 
$first-color: nth($colors, 1);
$second-color: nth($colors, 2);
$third-color: nth($colors, 3);


// $color-primary
// $color-additional
// $color-background
// $color-link
// $color-tag
// $color-text
// $color-heading
// $color-border
// $color-light
// $color-hamburger
// $color-overlay