$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$color-light: #EDF2EC;
$color-white: #FFFFFF;
$color-description: #E3E1D5;
$color-border: #E3E1D5;
$color-city-box:#D6E7D2;
$color-main-text: #717171;
$color-paragraph: #636060;
$color-links: #010201;
$color-black: #000000;
$color-green: #499A18;
$color-orange: #E06733;
$color-city-box-active: #C1E698;