@mixin font ($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin flex ($flex, $direction, $wrap, $align-content, $justify, $align-items) {
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $align-content;
    justify-content: $justify;
    align-items: $align-items;
}
