%font-inika {
    font-family: 'Inika', serif;
}

%font-inter {
    font-family: 'Inter', sans-serif;
}

%transition-400ms {
    transition: all 400ms ease-out;
    transform: scale(1);
}
%transition-1s {
    transition: all 1s ease-out;
    transform: scale(1);
}

%transition-2s {
    transition: all 2s ease-out;
    transform: scale(1);
}

%transition-3s {
    transition: all 3s ease-out;
    transform: scale(1);
}

// %custome-scroll {
//     &::-webkit-scrollbar {
//         width: 5px;
//     }
//     &::-webkit-scrollbar-track {
//         box-shadow: inset 0 0 1px grey;
//     }
//     &::-webkit-scrollbar-thumb {
//         background: $color-green;
//         border-radius: 10px;   
//     }
// }