.btn__learn-more {
    width: 158px;
    height: 44px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    border: 2px solid $color-orange;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__project {
    min-width: 161px;
    height: 50px;
    margin: 0px 19px;
    padding: auto;
    font-size: 2.0rem;
    color: $color-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-orange;
    border-radius: 5px;
}

.prices__list button {
    margin: 7px 22px 7px 22px;
    padding: 0 0 0 10px;
}
.btn__item {
    width: 250px;
    height: 50px;
    background: $color-light;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.btn__item-basics :nth-child(1) {
    padding: 28px 106px 16px 23px;
}
.btn__item-standard :nth-child(1) {
    padding: 21px 65px 16px 17px;
}
.btn__item-pro :nth-child(1) {
    padding: 15px 98px 16px 23px;
} 
.btn__accordion__item {
    border-radius: 50%;
    cursor: pointer;
}

.btn__contact-us {
    width: 162px;
    height: 50px;
    margin-top: 39px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    cursor: pointer;
}

.btn__city__bar {
    width: 450px;
    height: 50px;
    margin-top: 85px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: none;
    display: inline-flex;
    justify-content: space-between;
}
.btn__city__bar span {
    height: 40px;
    padding: 5px 0px 5px 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}
.btn__city__bar img {
    cursor: pointer;
    padding-top: 16px;
    padding-right: 27px;
}
.btn__accordion__city {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}


.btn__animation {
    transition: 0.6s;
    transform: scale(1);
}
.btn__animation_2 {
    transition: 0.6s;
    transform: scale(1);
}
.btn__animation:hover {
    transition: 3s;
    transform: scale(1);
    background-color: #E06733;
    color:#ffffff;
}
.btn__animation_2:hover { 
    transition: 2s;
    transform: scale(1);
    background-color: #E06733;
    color:#ffffff;
}




@media (max-width: $tablet-width) {
    .btn__learn-more {
        width: 158px;
        height: 44px;
    }
    
    .services__btns button {
        width: 161px;
        height: 50px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        background-color: rgba(0,0,0,0);
        color: #E06733;
        border: 1px solid #E06733;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn__project__1 {
        margin-right: 38px;
    }
    .btn__project__2 {
        margin-right: 38px;
    }

    .btn__item {
        width: 250px;
        height: 50px;
        margin: 16px 41px;
        padding: 14px 40px;
        text-align: start;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.0rem;
        line-height: 20px;
        background: #EDF2EC;
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: space-between;
    }
    .btn__accordion__item {
        background-color: rgba(0,0,0,0);
        border-radius: 50%;
        cursor: pointer;
    }

    .btn__contact-us {
        width: 162px;
        height: 50px;
        margin-top: 28px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        background-color: rgba(0,0,0,0);
        color: #E06733;
        border: 1px solid #E06733;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn__city__bar {
        width: 450px;
        height: 50px;
        margin-top: -11px;
        margin-right: 159px;
        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
        border: none;
        display: auto;
        justify-content: space-between;
        align-items: end;
    }
    .btn__city__bar span {
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #717171;
        text-align: center; 
    }
    .btn__city__bar img {
        padding: 0 35px 18px 0;
        cursor: pointer;
    }
    .btn__accordion__city {
        background-color: rgba(0,0,0,0);
        margin-right: 0;
        cursor: pointer;
    }


    .btn__animation {
        transition: 0.6s;
        transform: scale(1);
    }
    .btn__animation_2 {
        transition: 0.6s;
        transform: scale(1);
    }
    .btn__animation:hover {
        transition: 3s;
        transform: scale(1);
        background-color: #E06733;
        color:#ffffff;
    }
    .btn__animation_2:hover {
        transition: 2s;
        transform: scale(1);
        background-color: #E06733;
        color:#ffffff;
    }
}

@media (max-width: $mobile-big-width) {
    .btn__learn-more {
        width: 100px;
        height: 34.14px;
        margin-bottom: 59px;
        margin-left: 1px;
        padding-left: 16px;
    }

    .services__button {
        width: 121px;
        height: 35px;
        margin: 0px 10px 9px 0;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        background-color: rgba(0,0,0,0);
        color: #E06733;
        border: 1px solid #E06733;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn__item {
        width: 180px;
        height: 49.72px;
        margin: 0px 25px 0px 15px;
        padding: 0px 0 0 6px;
        text-align: start;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        background: #EDF2EC;
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: space-around;
        align-content: normal;
        flex-wrap: nowrap;
        align-items: center;
    }
    .btn__item-basics button {
        margin-top: 0px;
        padding-left: 0px;
        margin-left: 5px;
    }
    .btn__item-standard {
        margin-top: 0px;
    }
    .btn__item-pro {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .btn__accordion__item {
        padding-right: 22px;
        padding-top: 4px;
        border-radius: 50%;
        cursor: pointer;
    }

    .btn__contact-us {
        display: block;
        width: 121px;
        height: 35px;
        margin: 19px 0 0 87px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        background-color: rgba(0,0,0,0);
        color: #E06733;
        border: 1px solid #E06733;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn__city__bar {
        width: 300px;
        height: 50px;
        margin-top: 63px;
        margin-left: -42px;
        padding-right: 0;
        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .btn__city__bar span {
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #717171;
        text-align: center;
    }
    .btn__city__bar img {
        padding: 0 20px 17px 0;
        cursor: pointer;
    }
    .btn__accordion__city {
        background-color: rgba(0,0,0,0);
        margin-right: 0px;
        cursor: pointer;
    }


    .btn__animation {
        transition: 0.6s;
        transform: scale(1);
    }
    .btn__animation_2 {
        transition: 0.6s;
        transform: scale(1);
    }
    .btn__animation:hover {
        transition: 3s;
        transform: scale(1);
        background-color: #E06733;
        color:#ffffff;
    }
    .btn__animation_2:hover {
        transition: 2s;
        transform: scale(1);
        background-color: #E06733;
        color:#ffffff;
    }
}