.header__navigation {
    height: 50px;
    margin-right: -20px;
    padding: 0;
    @include flex (flex, row, none, none, space-between, none);
    li {
        display: inline-flex;
        padding: 0 21.5px;
    }
    a {
        text-decoration: none;
        @extend %transition-400ms;
        &:hover {
            @extend %transition-2s;
            font-size: 100%;
            background-color: $color-main-text;
            color: $color-links;
            border-radius: 5px;
        }
    }
}
.logo__name {
    
}


@media (max-width: $tablet-width){
    .header__navigation {
        width: auto;
        height: 50px;
        padding: 35px 50px 42px 50px;
        @include flex (flex, row, none, none, space-between, baseline);
        li {
            font-family: 'Inika', sans-serif;
            font-weight: 400;
            display: inline;
        }
    }
    .logo__box {
        width:  80px;
        height: auto;
        margin-top: 10px;
    }
    .logo__img {
        margin-right: -4px;
        margin-top: -1px;
    }
    .logo__name {
        @include font (1.6rem, 2.1rem, 400);
        color: $color-black;
    }
}

@media (max-width: $mobile-big-width){
    .header__navigation {
        width: auto;
        height: 50px;
        padding: 36px 26px 36px 25px;
        @include flex (inline-block, none, none, none, none, flex-start);
        li {
            display: inline;
        }
    }

    .logo__box {
        width:  77px;
        height: auto;
        margin-top: -2px;
        padding-left: 0px;
    }
    .logo__img {
        margin-right: 0px;
        margin-left: -2px;
        margin-top: 0px;
    }
    .logo__name {
        margin-left: -5px;
        @include font (1.6rem, 2.1rem, 400);
        color: $color-black;
    }
}