.header__navigation {
    margin: 0;
    padding: 16px 0 0 0px;
    @include flex (flex, row, none, none, space-between, none);
    a {
        text-decoration: none;
        @extend %transition-400ms;
        &:hover {
            @extend %transition-2s;
            font-size: 100%;
            background-color: $color-border;
            color: $color-links;
            border-radius: 5px;
        }
    }
}
.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navigation li:not(:last-child) {
    margin-right: 32px;
}

.list__item {
    margin: 0;
    padding: 0 7.40px;
}

.menu-link {
    @include font(1.6rem, 2rem, 400);
    font-style: normal;
    color: $color-links;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.menu-link:hover {
    color: $color-orange;
}
  
.burger__menu {
    display: none;
}


@media (max-width: $tablet-width){
    // .header__navigation {
    //     width: auto;
    //     height: 50px;
    //     padding: 35px 50px 42px 50px;
    //     @include flex (flex, row, none, none, space-between, baseline);
    //     li {
    //         font-family: 'Inika', sans-serif;
    //         font-weight: 400;
    //         display: inline;
    //     }
    // }
    // .logo__box {
    //     width:  80px;
    //     height: auto;
    //     margin-top: 10px;
    // }
    // .logo__img {
    //     margin-right: -4px;
    //     margin-top: -1px;
    // }
    // .logo__name {
    //     @include font (1.6rem, 2.1rem, 400);
    //     color: $color-black;
    // }
}

@media (max-width: $mobile-big-width){
    // .header__navigation {
    //     width: auto;
    //     height: 50px;
    //     padding: 36px 26px 36px 25px;
    //     @include flex (inline-block, none, none, none, none, flex-start);
    //     li {
    //         display: inline;
    //     }
    // }

    // .logo__box {
    //     width:  77px;
    //     height: auto;
    //     margin-top: -2px;
    //     padding-left: 0px;
    // }
    // .logo__img {
    //     margin-right: 0px;
    //     margin-left: -2px;
    //     margin-top: 0px;
    // }
    // .logo__name {
    //     margin-left: -5px;
    //     @include font (1.6rem, 2.1rem, 400);
    //     color: $color-black;
    // }
}