.prices__item {
    position: relative;
    width: 250px;
    min-height: 50px;
    margin: 0px 0px;
    padding: 12px 10px 5px 40px;
    background: $color-light;
    @include flex (flex, row, nowrap, center, space-between, center);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.accordion {
    width: 100%;
	text-align: left;
	background-color: transparent;
	color: #fff;
	// padding: 10px;
	position: relative;
}

.prices__list._init .accordion {
	cursor: pointer;
}
.prices__list._init .accordion {
	padding: 10px 40px 10px 10px;
}
.prices__list._init .accordion::before,
.prices__list._init .accordion::after {
	content: "";
	width: 20px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	right: 10px;
	top: 20px;
	transition: transform 0.3s ease 0s;
}
.prices__list._init .accordion::after {
	transform: rotate(-90deg);
}
.prices__list._init .accordion._active::after {
	transform: rotate(0deg);
}
.accordion__content {
    display: none; // удалить когда подключу скрипт
	padding: 0 10px 10px;
	// line-height: 130%;
}