.btn__accordion__item {
    border-radius: 50%;
    cursor: pointer;
    &:nth-last-child(1) {
        margin: 0;   
    }
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-big-width) {
    
}