.prices {
    max-width: $content-width;
    width: auto;
    height: auto;
    padding: 40px 109px 128px 109px;
    background: $color-white;
    margin: auto;
}

.prices__wrapper {
    width: auto;
    height: auto;
    margin: -1px 0;
    @include flex (flex, row, none, none, space-between, none);
}

.prices__bar {
    max-width: 332px;
    height: 391px;
    margin-right: 438px;
}

.prices__bar__title {
    padding-bottom: 60px;
    @extend %font-inter;
    @include font (4rem, 4.8rem, 700);
}

.prices__list {
    width: 332px;
    height: 281px;
    padding-top: 2px;
    @include flex (flex, column, nowrap, none, space-evenly, center);
    border: 1px solid $color-border;
    border-radius: 20px;
}

.prices__item {
    max-width: 300px;
    margin: 0px 0px -10px 0px;
}

.price__info {
    max-width: 452px;
    height: auto;
    @include flex (flex, column, none, none, flex-start, flex-end);
}

.prices__content {
    width: 452px;
    height: 191.01px;
    text-align: end;
}

.prices__content__title {
    @extend %font-inter;
    @include font (4rem, 5rem, 700);
    color: $color-black;
}

.leafs {
    width: 152px;
    height: 175px;
    padding-top: 33px;
}


@media screen and (max-width: 1335px) {
    .prices {
        height: auto;
        padding: 40px 0 115px;
    }

    .prices__wrapper {
        flex-direction: row;
        align-items: center;
        margin: 250px 0 0px 0;
        padding: 50px 25px 0 25px;
    }

    .prices__bar {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .prices__list {
        width: 332px;
        height: 281px;
        padding: 10px 20px;
        @include flex (flex, column, nowrap, none, space-evenly, center);
    }

    .prices__item {
        width: 300px;
        margin: 0 20px 40px;
    }

    .price__info {
        max-width: 100%;
        margin-bottom: 40px;
    }
}


/* Медиа-запрос для экранов с разрешением до 768px */
@media (max-width: $tablet-width) {
    .prices {
        width: auto;
        height: auto;
        padding: 30px 20px;
    }

    .prices__wrapper {
        width: 100%;
        height: auto;
        margin: 0px 0 0px 0;
        padding: 20px 25px 0 25px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .prices__bar {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .prices__bar__title {
        padding-bottom: 20px;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }

    .prices__list {
        width: 100%;
        height: 281px;
        padding: 10px 10px;
        @include flex (flex, column, nowrap, none, space-evenly, center);
    }

    .prices__item {
        width: 300px;
        margin: 0 20px 40px;
    }

    .price__info {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 0;
        @include flex (flex, column, none, none, flex-start, flex-start);
    }

    .prices__content {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .prices__content__title {
        font-size: 25px;
        line-height: 35px;
        margin: 0;
        padding-bottom: 20px;
    }

    .leafs {
        width: 100%;
        height: auto;
        padding-top: 20px;
        margin: 0;
    }
}

@media (max-width: $mobile-big-width) {
    .prices__wrapper {
        padding: 20px 20px 0px 0px;
    }

    .prices__item {
        width: auto;
        margin: 0;
    }
}