.welcome {
    background: $color-light;
    height: 532px;
    padding: 0px 5% 0 5%;
    width: auto;
}

.welcome__wrapper {
    margin: 0 auto;
    padding: 63px 23px 40px 26px;
    @include flex (flex, row, none, none, space-between, none);
}

.welcome__img {
    width: 448.8px;
    height: 407.36px;
    margin: -10px 0px 25px 0px;
    padding: 0 0 0 75px;
}

.welcome__section {
    min-width: 549px;
    max-height: 100%;
    width: calc(50% - 2.5%);
    height: 375px;
    padding: 36px 109px 0px 26px;
    @include flex (flex, column, none, none, space-between, none);

    & p {
        line-height: 3.5rem;
    }

    & button {
        margin-top: 3px;
    }
}

.welcome__title {
    min-width: inherit;
    height: auto;
}


@media (max-width: $tablet-width) {
    .welcome {
        background: $color-light;
        height: 532px;
        padding: 63px 5% 0 5%;
        width: auto;
    }

    .welcome__wrapper {
        margin: 0 auto;
        padding: 0;
        @include flex (flex, row, none, none, space-between, none);
        max-width: 668px;
    }

    .welcome__img {
        width: 280px;
        height: auto;
        margin: 0px 0px 0px;
        padding: 0 0 0 0px;

        img {
            max-width: 280px;
        }
    }

    .welcome__section {
        min-width: 350px;
        max-height: 100%;
        width: calc(50% - 2.5%);
        height: 375px;
        padding: 36px 0px 0px 25px;
        @include flex (flex, column, none, none, space-between, none);

        & p {
            line-height: 3.5rem;
        }

        & button {
            margin-top: 3px;
        }
    }

    .welcome__wrapper {
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 0 0 0px;
    }

    .welcome__img {
        width: 280px;
        height: auto;
        margin-right: 0;
        padding: 0 0 0 0;
        margin: 0 0 0 0;

        img {
            max-width: 280px;
        }
    }

    .welcome__section {
        width: 346px;
        height: auto;
        margin: 0 0 0 0;
        padding: 0px 0px 0px 0px;
        text-align: left;

        > h1 {
            min-width: 341px;
            height: auto;
            @include font (3.5rem, 5rem, 700);
        }

        > p {
            
        }
    }
}

@media (max-width: $mobile-big-width) {
    .welcome__img {
        display: none;
        margin: 0;
        padding: 0px;
    }
}