.about {
    max-width: $content-width;
    height: 666px;
    background: $color-white;
    margin: auto;
    padding: 93px 109px 94px 109px;
}
.about__wrapper {
    width: auto;
    height: 479px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about__content {
    width: 605px;
    height: 344px;
}
.about__content h2 {
    width: 463px;
    height: 102px;
    color: $color-orange;
}
.about__content p {
    padding-top: 40px;
}
.about__paragraph {
    
}


@media (max-width: $tablet-width) {
    .about {
        max-width: 768px;
        width: auto;
        height: 783px;
        padding: 0 0 0 50px;
    }
    .about__container {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
        padding: 0 50px 0 0px;
    }
    .about__container__img {
        width: 250px;
    }
    .about__content {
        width: 668px;
        height: 350px;
        padding: 40px 0 68px 0px;
    }
    .about__content h2 {
        padding-left: 102px;
        color:#E06733;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }
    .about__container p {
        margin-top: 40px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: $mobile-big-width) {
    .about {
        max-width: 380px;
        width: 380px;
        height: 516px;
        padding: 0 0 0 50px;
    }
    .about__container {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 0 0 0;
        padding: 34px 50px 0 0px;
    }
    .about__content {
        width: 380px;
        padding: 0px 0 0px 0px;
    }
    .about__content h2 {
        width: 288px;
        height: 57.74px;
        margin-top: -5px;
        padding: 0 0 0 20px;
        color: $color-orange;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
    }
    .about__container p {
        margin: 21px 50px 0px 0px;
        font-size: 15px;
        line-height: 25px;
        text-align: left;
    }
    .about__container__img {
        width: 150px;
        margin: 0px 48px 25px 0px;
    }
}