.contact-us {
    width: 1440px;
    height: 550px;
    background: #EDF2EC;
}
.contact__wrapper {
    width: 1220px;
    height: 490px;
    padding: 60px 109px 0.01px 109px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.contact-us__box-city {
    display: flex;
}
.contact-us__title {
    width: 192px;
    height: 51px;
    padding-right: 65px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.contact-us__img {
    margin-top: -8px;
    padding-bottom: 2px;
}

@media (max-width: $tablet-width) {
    .contact-us {
        max-width: 768px;
        width: 768px;
        height: 739px;
        background: #EDF2EC;
    }
    .contact__wrapper {
        width: 768px;
        height: 490px;
        padding: 205px 0 0 0;
    }
    .contact-us-title {
        width: 200px;
        height: 248.49px;
        left: 294px;
        top: 491px;
        margin-top: -153px;
        margin-right: -385px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
    }
    .contact-us__img {
        position: absolute;
        width: 200px;
        height: 248.49px;
        left: 294px;
        top: 4184px;
    }
}

@media (max-width: $mobile-big-width) {
    .contact-us {
        position: relative;
        max-width: 380px;
        width: 384px;
        height: 444px;
        background: #EDF2EC;
    }
    .contact__wrapper {
        width: 380px;
        height: 490px;
        padding: 21px 0 0 0;
    }
    .contact-us__box-city {
        width:300px;
        display: flex;
        flex-direction: column;
    }
    .contact-us-title {
        width: 192px;
        height: 34px;
        margin: 0; 
        padding: 155px 0 0 12px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #499A18;
    }
    .contact-us__button {
        width: 250px;
    }
    .contact-us__img {
        margin: 0 0 30px 0;
        position: absolute;
        width: 100px;
        height: 124.25px;
        left: 139px;
        top: 320px;
    }
}