.contact-us {
    width: auto;
    background: $color-light;
}
.contact-us__wrapper {
    height: 550px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.contact-us__box-city {
    padding: 60px 109px 0px 0px;
    display: flex;
}
.contact-us__title {
    min-width: 195px;
    height: 51px;
    padding-right: 68px;
}
.contact-us__woman {
    margin: 0 auto;
    padding: 0px;
}
.contact-us__img {
    height: 100%;
    width: 98%;
    padding: 0 0px 1px 0;
    margin: auto;
}

@media (max-width: $tablet-width) {
    .contact-us {
        max-width: 768px;
        width: 768px;
        height: 739px;
    }
    .contact-us__wrapper {
        width: 768px;
        height: 490px;
        padding: 200px 0 0 0;
    }
    .contact-us__title {
        width: 200px;
        height: 248.49px;
    }
    .contact-us__img {
        width: 200px;
        height: 248.49px;
    }
}

@media (max-width: $mobile-big-width) {
    .contact-us {
        max-width: 380px;
        width: 384px;
        height: 444px;
    }
    .contact-us__wrapper {
        width: 380px;
        height: 490px;
        padding: 21px 0 0 0;
    }
    .contact-us__box-city {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .contact-us__title {
        width: 192px;
        height: 34px;
        margin: 0; 
        padding: 155px 0 0 12px;
        font-size: 2.5rem;
        line-height: 3.3rem;
        text-align: center;
        color: $color-green;
    }
    .contact-us__button {
        width: 250px;
    }
    .contact-us__img {
        margin: 0 0 30px 0;
        width: 100px;
        height: 124.25px;
    }
}