.footer {
    background: $color-white;
    margin: 0 auto;
}
.footer__wrapper {
    margin: auto;
    padding: 40px 109px;
    @include flex (flex, row, none, none, space-between, none);
    & li {
        @include flex (inline-flex, row, none, none, center, none);
    }
    & *a {
        @extend %font-inter;
        @include font (2rem, 5rem, 400);
        font-style: normal;
        color: $color-links;
    }
}

.footer-data {
    width: auto;
    height: 50px;
    padding-right: 20px;
    & li:nth-of-type(2) {
        @extend %font-inter;
        @include font(2rem, 5rem, 400);
        margin: 0 18px;
        &:hover {
            text-decoration: none;
        }
    }
}
.rsschool li {
    padding-left: 15px;
}
.social-list li {
    padding: 5px 3px 0 20px;
}


@media (max-width: $tablet-width) {
    .footer {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .footer__wrapper {
        padding: 25px 0px 0px 2px;
        @include flex (flex, column, none, none, space-between, center);
        & li {
            @include flex (inline-flex, row, none, none, none, none);
        }
    }
    .footer-data {
        width: 190px;
    }
    .rsschool li {
        padding: 8px 0;
        margin-left: -3px;
        margin-top: -6px;
    }
    .social-list li {
        padding: 15px 10px;
    }
    .instagram__svg__item a {
        padding-bottom: 0;
        margin-right: 7px;
    }
    .facebook__svg__item a {
        padding-bottom: 0;
        margin-right: 4px;
    }
    .twitter__svg__item a {
        padding-bottom: 3px; 
    }
    .pinterest__svg__item a {
        padding-bottom: 1px; 
    }
}

@media (max-width: $mobile-big-width) {}