.header {
    background: $color-light;
    margin: 0 auto;
}

.header__wrapper {
    margin: auto;
    max-width: $content-width;
    width: 59%;
    height: 134px;
    padding: 48px 109px;
    display: flex;
    justify-content: space-between;
}

.header__navigation {
    height: 50px;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.header__navigation li {
    display: inline-flex;
    flex-direction: row;
}

@media (max-width: $tablet-width){
    .header {
        max-width: 768px;
        height: 117px;
    }
}

@media (max-width: $mobile-big-width){
    .header {
        width: 380px;
        height: 96px;
        padding: 0;
    }
}