.header {
    max-width: 1440px;
    height: 134px;
    width: 1440px;
    background: #EDF2EC;
    margin: 0 auto;
    // overflow: hidden;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    width: 1220px;
    height: 50px;
    padding: 42px 109px 42px 111px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.header__navigation li {
    font-family: 'Inika', sans;
    font-weight: 400;
    display: inline-flex;
    flex-direction: row;
}

@media (max-width: $tablet-width){
    .header {
        max-width: 768px;
        height: 117px;
        background: #EDF2EC;
        margin: 0 auto;
    }
}

@media (max-width: $mobile-big-width){
    .header {
        width: 380px;
        height: 96px;
        background: #EDF2EC;
        margin: 0 auto;
        padding: 0;
    }
}