.header {
	background: $color-light;
	margin: 0 auto;
}

.header__wrapper {
	@include flex (flex, row, none, none, space-between, none);
	padding: 42px 103px 56px 111px;
	background-color: $color-light;
}

.logo__box {
	padding-top: 8px;
	margin: 0;
}

.logo__name {
	margin-left: -4px;
	@extend %font-inika;
	@include font (1.6rem, 2.1rem, 400);
	font-style: normal;
	color: $color-links;
}

@media (max-width: $tablet-width) {
	.header__wrapper {
		padding: 42px 25px 56px 25px;
	}
}

@media (max-width: $mobile-big-width) {
	.header__wrapper {
		max-width: 768px;
		height: auto;
		margin: 0 auto;
		padding: 42px 16px 42px 16px;
		background: $color-light;
	}

	.logo__box {
		padding: 10px 0 0 0;
		text-align:left;
	}
}