.main {
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: $tablet-width) {
    .main {
        max-width: $tablet-width;
        margin: 0 auto;
    }
}

@media (max-width: $mobile-big-width) {
    .main {
        max-width: $mobile-big-width;
        margin: 0 auto;
    }
}
