.prices {
    width: $content-width;
    height: 560px;
    padding: 40px 109px 115px 109px;
    background: $color-white;
    margin: auto;
}
.prices__wrapper {
    width: 1222px;
    height: 405px;   
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prices__bar {
    width: 332px;
    height: 391px;
}
.prices__bar__title {
    padding-bottom: 60px;
    margin-top: -2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
}
.prices__list {
    width: 332px;
    height: 281px;
    border: 1px solid $color-description;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.price__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.prices__content {
    width: 452px;
    height: 191.01px;
    text-align: end;
}
.prices__content__title {
    font-family: 'Inter' sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    color: $color-black;
}
.leafs {
    width: 152px;
    height: 175px;
    padding-top: 33px;
}

@media (max-width: $tablet-width) {
    .prices {
        max-width: 768px;
        width: 768px;
        height: 585px;
        background: $color-white;
    }
    .prices__container {
        width: auto;
        height: 405px;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .prices__bar {
        width: 332px;
        height: 391px;
    }
    .prices__bar__title {
        padding-bottom: 0px;
        padding-top: 42px;
        margin-left: -96px;
        font-size: 3.5rem;
        line-height: 4.2rem;
        text-align: center;
    }
    .prices__list {
        width: 332px;
        height: 281px;
        margin: 55px 0 0 50px;
        padding-top: 4px;
        border: 1px solid $color-border;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .price__info {
        padding: 143px 0px 0px 90px;
        width: 296px;
        height: 357.98px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
    }
    .prices__content {
        width: 296px;
        height: 77.41px;
        text-align: right;
    }
    .prices__content__title {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .leafs {
        margin-top: 100px;
        margin-right: -10px;
    }
}

@media (max-width: $mobile-big-width) {
    .prices {
        max-width: 380px;
        width: 380px;
        height: 512px;
    }
    .prices__wrapper {
        width: 230px;
        height: auto;
        padding: 20px 0px 0px 0px;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .prices__bar {
        width: 382px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .prices__bar__title {
        padding-bottom: 0;
        padding-top: 2px;
        margin-left: 0;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }
    .prices__list {
        width: 224px;
        height: 235px;
        margin: 36px 0px 0px 80px;
        padding: 0;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .price__info {
        padding: 20px 0px 0px 75px;
        width: 230px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .prices__content {
        width: 296px;
        height: 77.41px;
    }
    .prices__content__title {
        padding: 0 10px;
        font-size: 2rem;
        line-height: 3.5rem;
        text-align: center;
    }
    .leafs {
        margin-top: 0;
        margin-right: 0;
        display: none;
    }
    .leafs__img {
        display: none;
    }
}