.welcome {
    max-width: 1440px;
    height: 532px;
    background: #EDF2EC;
}
.welcome__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 62px 109px;
}
.welcome__section {
    width: 549px;
    height: 340px;
    margin: 36px -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome__section p {
    width: 525.44px;
    height: 105px;
    font-size: 20px;
    margin-top: -1px;
    line-height: 35.0px;
    align-content: stretch;
}
.welcome__img {
    margin-left: -7px;
    margin-top: -7px;
}

@media (max-width: $tablet-width) {
    .welcome {
        max-width: 768px;
        width: auto;
        height: auto;
        padding-left: 50px;
        background: #EDF2EC;
    }
    .welcome__wrapper {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 0 0 0px;
    }
    .welcome__section {
        position: relative;
        width: 346px;
        height: 310px;
        margin: 40px 42px 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 0;
    }
    .welcome__section p {
        width: auto;
        height:  auto;
        margin: 0;
        padding: 25px 0 30px 5px;
        font-size: 16px;
        line-height: 25px;
        align-content: stretch;
    }
    .welcome__img {
        width: 40%;
        margin: 0;
        padding: 0 50px 87px 0;
    }
}

@media (max-width: $mobile-big-width) {
    .welcome {
        max-width: 768px;
        width: auto;
        height: 300px;
        padding-left: 50px;
        background: #EDF2EC;
    }
    .welcome__wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-content: space-around;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .welcome__section {
        width: 346px;
        height: 310px;
        margin: 25px 36px 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .welcome__section p {
        width: auto;
        height:  auto;
        margin: 0 0 0 0;
        padding: 0px 0px 2px 1px;
        align-content: stretch;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }
    .welcome
    __img {
        width: 0;
        margin: 0;
        padding: 0px;
    }
}