.welcome {
    width: auto;
    height: 532px;
    background: $color-light;
}
.welcome__wrapper {
    max-width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 62px 109px;
}
.welcome__section {
    width: auto;
    height: 340px;
    padding: 36px 0px 0px 109px;
}
.welcome__section p {
    padding: 44px 0;
}
.welcome__section > button {
    margin-top: 3px;
}
.welcome__img {
    padding-right: 109px;
    margin: -7px 0 0 -6px;
}

@media (max-width: $tablet-width) {
    .welcome {
        width: auto;
        height: auto;
        padding-left: 50px;
    }
    .welcome__wrapper {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0px;
    }
    .welcome__section {
        position: relative;
        width: 346px;
        height: 310px;
        margin: 40px 42px 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .welcome__section p {
        width: auto;
        height:  auto;
        margin: 0;
        padding: 25px 0 30px 5px;
        font-size: 16px;
        line-height: 25px;
        align-content: stretch;
    }
    .welcome__img {
        width: 40%;
        margin: 0px;
        padding: 0 50px 87px 0;
    }
}

@media (max-width: $mobile-big-width) {
    .welcome {
        width: auto;
        height: 300px;
        padding-left: 50px;
    }
    .welcome__wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-content: space-around;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .welcome__section {
        width: 346px;
        height: 310px;
        margin: 25px 36px 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .welcome__section p {
        width: auto;
        height:  auto;
        margin: 0px;
        padding: 0px 0px 2px 1px;
        align-content: stretch;
    }
    .welcome__img {
        margin: 0;
        padding: 0px;
    }
}